.app {
  font-family: sans-serif;
  text-align: center;
}

.formContainer {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}
.backBtnContainer {
  float: right;
}
.formContainer input {
  margin-bottom: 20px;
}
.backBtn {
  all: unset;
  cursor: pointer;
  margin-bottom: 10px;
  color: blueviolet;
}
.buttonGroup button {
  background-color: burlywood;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  width: 100%;
}

.buttonGroup button:hover {
  background-color: rgb(208, 122, 29);
}
